version: '3.8'

services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_DB: summarize_ai_db
      POSTGRES_USER: summarize_ai_user
      POSTGRES_PASSWORD: summarize_ai_password
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
